# checkpoints
Pretrained/TernausnetV2/.ipynb_checkpoints/
Pretrained/Dyanamic UNet/.ipynb_checkpoints/

# pycache
Pretrained/TernausnetV2/models/__pycache__/

Pretrained/TernausnetV2/modules/__pycache__/

# model weights
*.pt
*.h5
*.yml

# virtual environment
env/

# data
Pretrained/Dyanamic UNet/data/