# checkpoints
Pretrained/TernausnetV2/.ipynb_checkpoints/
Pretrained/Dyanamic UNet/.ipynb_checkpoints/
UNet with Cyclical Learning/.ipynb_checkpoints/

# notebook assets
UNet with Cyclical Learning/assets/

# pycache
Pretrained/TernausnetV2/models/__pycache__/

Pretrained/TernausnetV2/modules/__pycache__/

# model weights
*.pt
*.h5
*.yml
*.pkl
UNet with Cyclical Learning/model states/
UNet with Cyclical Learning/model weights/


# virtual environment
env/

# data
Pretrained/Dyanamic UNet/data/